<div class="tabs main-pagemaker">
  <div class="tabs-title">
    <ul class="titles">
      <li class="selected" data-target="components">Componentes</li>
      <li class="title-setup" data-target="setup">Configuração</li>
    </ul>
  </div>
  <div class="tabs-area pagemaker">
    <div class="widgets row" id="components">
      <%= render partial: "components_list" %>
    </div>
    <div class="setup"></div>
  </div>
</div>
