<div class="frm categories"  id="adm_category_data">

  <%= content_tag :h3, fas_icon('sitemap', text: 'Categorias'), class: 'title' %>
  &nbsp;
  <div class="categories">
    <div class="tree-data">
      <div class="tree">
        <%= render partial: 'tree' %>
      </div>
      <div class="data" id="category-form-container">

      </div>
    </div>
  </div>

</div>
