<div class="picture column col">
  <fieldset>
    <%= label_tag 'Imagem do perfil', 'Imagem do Perfil' %>
  </fieldset>
  <%= render partial: 'edit_profile_picture' %>

</div>
<div class="column col fields">
  <%= render partial: 'form_fields' %>
</div>
</div>
