  <div class="action">
    <%= content_tag :h6, 'Áreas', class: 'ac-title' %>
    <%= content_tag :h4, far_icon('square-plus'), class: 'ac-title add label-lnk', title: 'Adicionar Área', data: { url: adm_site_area_new_path()} %>
  </div>
  <div class="tree-itens" id="adm_areas_tree_itens">
    <%= render partial: 'area_tree_items' %>
  </div>
