<div class="action">
  <%= content_tag :h6, 'Menus', class: 'ac-title' %>
    <%= content_tag :h4, far_icon('square-plus'), class: 'ac-title add label-lnk', title: 'Adicionar Menu', data: { url: adm_site_menu_new_path()} %>
  </div>
  <div class="tree-itens" id="adm_menu_tree_itens">
    <%= render partial: 'menu_tree_items' %>
</div>
