<div class="frm frm-scripts" id="adm_sscripts">
  <%= content_tag :h6, fas_icon('code', text: 'Scripts'), class: 'title' %>
  &nbsp;
  <div class="styles">
    <div class="data" id="style-form-container">
      <%= render partial: 'scripts_edit' %>
    </div>
  </div>
</div>
