<div class="frm frm-styles" id="adm_styles">
  <%= content_tag :h6, fas_icon('code', text: 'Folha de Estílos'), class: 'title' %>
  &nbsp;
  <div class="styles">
    <div class="data" id="style-form-container">
      <%= render partial: 'styles_edit' %>
    </div>
  </div>
</div>
