$('.frm-configuracoes .tree-data .data').html('<h6 style="text-align: center">Configuração Removida!</h6>')

$('.frm-configuracoes .tree .tree-itens').html('<%= j render "admin/conf_grupo_tree_itens" %>')
