<div class="login-box-container login">
  <div class="login-box" id="login-box">
    <%= content_tag :h3, 'Entrar', class: 'label-lnk', data: { url: adm_require_login_path(), target: '.frm.login-box'} %>
  </div>
</div>
