
<div class="frm frm-new-user">
  <%= content_tag :h6, 'Ainda não tem uma conta?', class: 'title' %>
  <%= content_tag :h3, 'Cadastre-se aqui!', class: 'title h-link', data: { url: user_new_path(0) } %>
  
</div>
