<div class="frm frm-ressend-confirm-email">
  <%= content_tag :h6, 'Confirmação de Cadastro', class: 'title' %>
  <%= content_tag :p, "Um email foi enviado para o endereço #{@user.email}. Siga as instruções deste email para completar seu cadastro." %>
</div>
