<div class="frm frm-confirmation-user">

  <%= content_tag :h3, ConfGrupo.find_by(nome: 'Aplicação').conf.find_by(nome: 'app_title').valor, class: 'title centralize' %>
  
  

  <%= content_tag :h6, 'Confirmação de Cadastro', class: 'title' %>
  <div class="confirmation-form">
    <%= render partial: 'confirmation_form' %>
  </div>  
</div>
