<div class="over-modal-window" id="<%= @modal_id%>">
  <div class="over-modal-header">
    <h6 class="modal-title"> Título</h6>
    <%= fa_icon('times', class: 'over-modal-close', data: { id: @modal_id })%>
  </div>
  <div class="over-modal-container"></div>
</div>
